.pacman{
    position: absolute;
    left: calc(50% - 8px);
    top: calc(50% - 8px);
    width: 16px;
    height: 16px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../assets/pacman/Pacman-moving.gif");

    z-index: 1;
}
.pacmanRight{
    transform: rotateY(10deg);
}
.pacmanLeft{
    transform: rotateY(180deg);
}
.pacmanUp{
    transform: rotate(-90deg);
}
.pacmanDown{
    transform: rotate(90deg);
}