.pacman{
    position: absolute;
    left: calc(50% - 8px);
    top: calc(50% - 8px);
    width: 16px;
    height: 16px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.pacmanRight{
    background-image: url("../assets/pacman/pacman_right.gif");
}
.pacmanLeft{
    background-image: url("../assets/pacman/pacman_left.gif");
}
.pacmanUp{
    background-image: url("../assets/pacman/pacman_up.gif");
}
.pacmanDown{
    background-image: url("../assets/pacman/pacman_down.gif");
}