*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
:root{
    --mainColor: #12203d;
    --borderColor: #0000f0;
    --shadowColor: #23385d;
    --insideColor: #03091f;
    --secundaryColor: #36b3ff;
}
main{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    background-color: var(--insideColor);
}
.firstView{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: calc(50% - 125px);
    top: calc(50% - 125px);
    width: 250px;
    height: 250px;
}
.firstView img{
    width: 95%;
    height: 50px;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}
.start-button{
    width: 100px;
    height: 35px;

    color: var(--insideColor);
    font-size: 1.4rem;
    font-weight: 600;

    border: none;
    border-radius: 15px;
    background-color: white;
}
.table{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    height: 460px;

    background-color: var(--insideColor);
}
.score{
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80px;
    height: 20px;
}
.score, .score span{
    font-size: 1.5rem;
    color: white;
}
.score::before{
    content: "Score: ";
}
.board-game{
    width: 100%;
    height: 460px;
}
.row{
    display: flex;
    width: 100%;
    height: 20px;
}
.cell{
    width: 20px;
    height: 100%;
}
.portalLeft{
    box-shadow: -5px 0px 5px blue;
}
.portalRight{
    box-shadow: 5px 0px 5px blue;
}
.ghost{
    position: absolute;
    left: calc(50% - 9px);
    top: calc(50% - 9px);
    width: 18px;
    height: 18px;

    background-image: url("./assets/ghosts/ghost.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    z-index: 2;
}
.pacmanLive{
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url("./assets/pacman/pacmanPhoto.png");
}
.chocolate{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("./assets/pacman/award.png");
}

@media (min-width: 510px) {
    .table{
        width: 460px;
    }
}